@model OnlineExam.App.Models.QuestionAnswerCreateViewModel
@{
    ViewBag.Title = "Create Quistion Answer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Quistion Answer</title>


</head>


<html>
<body>
    @if (ViewBag.SMsg != null)
    {
        <h3 style="color: green; font-weight: bold">@ViewBag.SMsg </h3>

    }
    @if (ViewBag.EMsg != null)
    {
        <h3 style="color: red; font-weight: bold">@ViewBag.EMsg </h3>

    }
    <div>
        @using (Html.BeginForm())
        {
            <div class="container">
                <div class="col-md-12">
                    <br />
                    <h6>Create Quistion Answer</h6>
                    <br />
                </div>
                
                
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            
                            @Html.LabelFor(c => c.OrganizationId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(c => c.OrganizationId, Model.OrganizationSelectListItems, "--Select--", new { @class = "form-control", })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(c => c.CourseId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(c => c.CourseId, Model.CourseSelectListItems, "--Select--", new { @class = "form-control", })
                                @*@Html.ValidationMessageFor(c => c.Mark, null, new { @class = "text-danger" })*@
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(c => c.ExamId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(c => c.ExamId, Model.ExamSelectListItems, "--Select--", new { @class = "form-control", })
                                @*@Html.ValidationMessageFor(c => c.Mark, null, new { @class = "text-danger" })*@
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            @Html.LabelFor(c => c.Question1, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.TextAreaFor(c => c.Question1, new { @class = "form-control", @rows = "3" })
                                @*@Html.ValidationMessageFor(c => c.Mark, null, new { @class = "text-danger" })*@
                            </div>
                        </div>
                        


                    </div>
                    <div class="col-md-6">
                        

                    </div>
                </div>
                
                
             

                <div class="row">
                    <div class="left-sidebar col-sm-6">
                        <div class="form-horizontal">


                            <div class="form-group form-row">
                                
                                <div class="col-md-10">
                                    
                                    @Html.ValidationMessageFor(c => c.OrganizationId, null, new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group form-row">
                                <h7 class="control-label col-md-2">Course</h7>
                                <div class="col-md-10">
                                    
                                    @Html.ValidationMessageFor(c => c.CourseId, null, new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group form-row">
                                <h7 class="control-label col-md-2">Exam</h7>
                                <div class="col-md-10">
                                    
                                    @Html.ValidationMessageFor(c => c.ExamId, null, new { @class = "text-danger" })

                                </div>

                                <div class="form-group form-row">
                                    <h6>Quistion</h6>
                                    <br />
                                    <br />
                                    @Html.LabelFor(c => c.Mark, htmlAttributes: new { @class = "control-label col-md-5" })
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.Mark, null, new { @class = "form-control col-md-10", })
                                        @*@Html.ValidationMessageFor(c => c.Mark, null, new { @class = "text-danger" })*@
                                    </div>
                                </div>
                                <div class="form-group form-row">
                                    @Html.LabelFor(c => c.Order, htmlAttributes: new { @class = "control-label col-md-5" })
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.Order, null, new { @class = "form-control col-md-10", })
                                        @*@Html.ValidationMessageFor(c => c.Mark, null, new { @class = "text-danger" })*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(c => c.Question1, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(c => c.Question1, new { @class = "form-control", @rows = "3" })
                                        @*@Html.ValidationMessageFor(c => c.Mark, null, new { @class = "text-danger" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6"></div>
                                <div class=" col-md-2 ">
                                    <input type="submit" value="Save" class="btn btn-success float-right" />
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>

            </div>
        }
    </div>
</body>
</html>
