@model OnlineExam.App.Models.OrganizationCreateViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{

    <script src="~/Scripts/Project/Organization/OrganizationCreate.js"></script>
<script type="text/javascript">
    function ShowPreview(input) {
        if (input.files && input.files[0]) {
            var ImageDir = new FileReader();
            ImageDir.onload = function (e) {
                $('#impPrev').attr('src', e.target.result);
            }
            ImageDir.readAsDataURL(input.files[0]);
        }
    }
</script>

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Entry</title>

    @if (ViewBag.SMsg != null)
    {
        <h3 style="color: green; font-weight: bold">@ViewBag.SMsg </h3>

    }
    @if (ViewBag.EMsg != null)
    {
        <h3 style="color: red; font-weight: bold">@ViewBag.EMsg </h3>

    }
    
</head>


<body>
@using (Html.BeginForm())
{

    <div class="col-md-9">
        <div>

            <h5>Create Organization</h5>
            <br/>
            <div class="form-horizontal">
                
                <div class="form-group form-row">

                    @Html.LabelFor(c => c.Name, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-6">
                        @Html.TextBoxFor(c => c.Name, null, new {@class = "form-control", placeholder = "Name"})

                        @Html.ValidationMessageFor(c => c.Name, null, new {@class = "text-danger"})

                    </div>
                </div>
                <div class="form-group form-row">

                    @Html.LabelFor(c => c.Code, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-6">
                        @Html.TextBoxFor(c => c.Code, null, new { @class = "form-control", placeholder = "Code"})
                    </div>
                </div>
                <div class="form-group form-row">

                    @Html.LabelFor(c => c.Address, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-6">
                        @Html.TextBoxFor(c => c.Address, null, new {@class = "form-control", placeholder = "Address"})
                    </div>
                </div>
                <div class="form-group form-row">

                    @Html.LabelFor(c => c.ConatactNo, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-6">
                        @Html.TextBoxFor(c => c.ConatactNo, null, new {@class = "form-control", placeholder = "Contact Number"})
                    </div>
                </div>
                <div class="form-group form-row">

                    @Html.LabelFor(c => c.About, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-6">
                        @Html.TextAreaFor(c => c.About, htmlAttributes: new {@class = "form-control", placeholder = "Contact Number"})
                    </div>
                </div>
                <div class="form-group form-row">

                    @Html.LabelFor(c => c.Logo, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-6">
                        
                                    <td>
                                        Select Your File To Upload #:
                                        <input type="file" name="ImageUpload" id="ImageUpload" onchange="ShowPreview(this)" />
                                        <asp:Button ID="btnUpload" runat="server" Text="Upload" />
                                    </td>
                               
                                <tr>
                                    <td>
                                        <asp:Image ID="impPrev" runat="server" Height="200px" />
                                    </td>
                                </tr>
                           
                    </div>

                </div>
                <div class="form-group form-row">
                    <div class="col-md-offset-2 col-md-4">
                        <input type="submit" id="btnsubmit" value="Save" class="btn btn-success"/>
                        <input type="submit" id="btnedit" value="Edit" class="btn btn-success"/>
                        <input type="submit" id="btnserch" value="Search" class="btn btn-success" />
                    </div>


                </div>
            </div>
        </div>
    </div>

}


</body>
</html>






          
